<div>
  <footer
    class="text-center"
  >
    <div class="container-fluid pt-4" style="background:#242d36;" >
      <section class="mb-4">
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'main' %}">Home</a>
            </h6>
          </div>
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'news' %}">Information</a>
            </h6>
          </div>
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'calendar' %}"> Calendar</a>
            </h6>
          </div>

          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{%url 'ourTeam'%}">Our Team</a>
            </h6>
          </div>
        </div>
        <hr class="rgba-white-light"  />
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
          <div class="col-md-8 col-12 mt-2">
            <p style="line-height: 1.7rem">
              Paluwa is a Plant Disease Prediction web app developed by students of ACHS, under supervison of talented, and experienced 
              Janak Kumar Lal, as a  partial fulfillment of the requirement for the 
              Bachelor Degree in Computer Science and Information Technology. This app predicts disease for four plant as of now.
              Python, CNN, HTML, CSS, Bootstrap5, JS, Django techniques were used for buidling this project. 
               
            </p>
          </div>
        </div>
      </section>
    </div>

    <div
      class="text-center text-white pt-3"
      
    >
      © 2021 Copyright:
      <a class="text-white" href="#"> PALUWA </a>
    </div>
  </footer>
</div>
