{% extends 'main.html' %} {% load static %} {%block content%}
<h1>Seasonal Crop Calendar of Nepal</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a
          href="{% url 'calendar' %}"
          class="list-group-item list-group-item-action active"
          aria-current="true"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Summer Season</h5>
          </div>
          <p class="mb-1">Summer is hottest season of Nepal.</p>
          <small class="text-muted"><bold>(May-August)</bold></small>
        </a>
        <a
          href="{% url 'calendarMonsoon' %}"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Monsoon Season</h5>
          </div>
          <p class="mb-1">
            Moonsoon days are warm (up to 30°C), wet and with high humidity.
          </p>
          <small class="text-muted">(June-August)</small>
        </a>
        <a
          href="{% url 'calendarSpring' %}"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Spring Season</h5>
          </div>
          <p class="mb-1">
            This season offers the best time to visit the beautiful country of
            Nepa.
          </p>
          <small class="text-muted">( March - May)</small>
        </a>
        <a
          href="{% url 'calendarAutumn' %}"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Autumn Season</h5>
          </div>
          <p class="mb-1">
            Little cold weather, clean mountains during night, warm and clear
            days, and clouds start to appear in the afternoon.
          </p>
          <small class="text-muted">(Mid-September - November)</small>
        </a>
        <a
          href="{% url 'calendarWinter' %}"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Winter Season</h5>
          </div>
          <p class="mb-1">Winter is coldest season of Nepal</p>
          <small class="text-muted">(Late-November - February)</small>
        </a>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="list-group">
        <p>
          <a
            class="list-group-item list-group-item-primary"
            data-bs-toggle="collapse"
            href="#collapseExample6"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample6"
          >
            Paddy - धान
          </a>
        </p>
        <div class="collapse" id="collapseExample6">
          <div class="card card-body">
            Paddy(धान) is the most important crop in Nepal in terms of both
            planted area and production. It is chiefly grown under wet
            conditions in the monsoon season, while in some areas it is also
            grown during the spring season. It is grown in three agro-ecological
            zones, namely the Terai, mid-hills and high hills.
          </div>
          <div class="card card-body">
            <h3>How to grow Paddy(धान)?</h3>
            <a
              href="https://ricepedia.org/rice-as-a-crop/how-is-rice-grown"
              target="_blank"
              >Visit this site</a
            >
          </div>
        </div>

        <p>
          <a
            class="list-group-item list-group-item-secondary"
            data-bs-toggle="collapse"
            href="#collapseExample1"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample1"
          >
            Maize - मकै
          </a>
        </p>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body">
            Maize is an integral crop of the hill farming system and is the
            second most important crop of Nepal. In the terai, inner-terai,
            valleys, and low-lying river basin areas, maize is also grown in the
            winter and spring with irrigation. Among the survey districts,
            Sankhuwasabha, Sindhupalchok and Bajhang are in the highhills;
            Panchthar, Nuwakot, Lamjung, Baglung, Pyuthan, Salyan, Dailekh,
            Achham, and Baitadi are in the midhills; Udayapur and Dang are in
            the inner- terai; and Jhapa, Bara and Bardia are in the terai5.
          </div>
          <div class="card card-body">
            <h3>How to grow Maize (मकै)?</h3>
            <a
              href="https://www.fwi.co.uk/livestock/step-step-guide-planting-maize"
              target="_blank"
              >Visit this site</a
            >
          </div>
        </div>

        <p>
          <a
            class="list-group-item list-group-item-success"
            data-bs-toggle="collapse"
            href="#collapseExample2"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample2"
          >
            Millet - कोदो
          </a>
        </p>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body">
            Millet is the second most important crop of Nepal. A variety of
            millets, including Kodo (finger millet), Junelo (sorghum millet),
            Kaguno (foxtail millet), Chino (proso millet) are grown across
            different agro-climatic zones in Nepal. Baglung district of Gandaki
            Province has the largest area and production under finger millet in
            Nepal. The highest productivity of finger millet is found in Udaypur
            (1.97 mt/ha) followed by Panchthar (1.97 mt/ha) and Okhaldhunga
            districts (1.97 mt/ha)
          </div>
          <div class="card card-body">
            <h3>How to grow Millet (कोदो)?</h3>
            <a href="https://www.wikihow.com/Grow-Millet" target="_blank"
              >Visit this site</a
            >
          </div>
        </div>
        <p>
          <a
            class="list-group-item list-group-item-danger"
            data-bs-toggle="collapse"
            href="#collapseExample3"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample3"
          >
            Buckwheat - अनाज
          </a>
        </p>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body">
            Sweet buckwheat varieties are generally grown in midhill and Terai
            but Tartary buckwheat varieties are grown in higher altitude. There
            are altogether 19 local landraces of sweat buckwheat and 37 for
            Tartary buckwheat listed from Nepal
          </div>
          <div class="card card-body">
            <h3>How to grow Buckwheat (अनाज)?</h3>
            <a
              href="https://www.growjourney.com/grow-buckwheat/"
              target="_blank"
              >Visit this site</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .container {
    margin: 1rem;
  }
  .col-sm-3 {
    margin-bottom: 1rem;
  }
  .col-sm-9 p {
    margin: 0;
    height: 4rem;
  }
  .collapse {
    margin-bottom: 1rem;
  }

  .col-sm-9 .list-group-item {
    height: 100%;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
  }
</style>
{% endblock %}
