


{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="cards">
  <h3>Choose a Plant</h3>
  <ul>
    {% for plant in plantObj %}
    <li>  
      <div class="item">   
      <ul>
        <li>
          <img src="{{ plant.display_images.url }}" alt="">
          
        </li>
        <li class="btn-predict"><button onclick="window.location.href=`{% url 'upload' plant.id %}`">Predict</button></li>
       <a href="{% url 'upload' plant.id %}">

       <li class="item-label">{{plant.plant_name}}</li>
       </a>
      </ul>
    </div>  
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}