{% extends 'main.html' %} {% load static %} {%block content%}
<h3>Information</h3>

<div class="news">
  {% for news in newsObj %}
  <a
  style="color: black;"
  href="{{ news.urlField}}"
  target="_blank"
>
  <div
    class="card mb-3"
    style="
      width: 90%;
      margin: auto;
      padding: 1rem;
      background: #f1f1f1;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    "
  >
  
  
  
    <div class="row g-0">
     
      <div class="col-md-4">
        <img
          src="{{ news.images.url }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title mb-3" style="font-family: fantasy;">
            {{ news.title }}
          </h5>
          <p class="card-text">
            {{ news.description }}
          </p>
          <p class="card-text">
           
              
          </p>
        </div>
      </div>
     
    </div>
    
  </div>
  </a
            >
  {% endfor %}
  
</div>
<style>
  .news img{
    width: 100%;
    height: auto;
  }
  h3{
    text-align: center;
    color: white;
    font-family: cursive;
  }
 .card-text a{
    color: 609d03 !important;
    text-decoration: none;
  }
</style>
{% endblock %}
