{% extends 'main.html' %} {% load static %} {%block content%}

<div class="upload-page">
<div class="container px-4 py-5 mx-auto">
  <div class="card card0">
    <div class="d-flex flex-lg-row flex-column-reverse">
      <div class="card card2">
        <div class="my-auto mx-md-5 px-md-5 right">
          <h3 class="text-white">Things to know</h3>
          <small class="text-white">
            <ul type="square">
              <li>Only image file must be uploaded.</li>
              <li>Only picture of leaf part must be uploaded.</li>
              <li>Make sure you are uploading picture of selected plant.</li>
            </ul>
          </small>
        </div>
      </div>
      <div class="card card1">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 col-10 my-5">
            <form
              action=""
              method="POST"
              enctype="multipart/form-data"
              class="was-validated"
              value="{{pk}}"
            >
              {% csrf_token %}
              <input type="file" accept="image/*" name="imagePath" placeholder="Select" id="image-file" class="form-control" required/>
              <div class="invalid-feedback">Please choose a image</div>
              <input type="submit" class="btn-submit-img" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <style>
    .card0 {
      height: 30rem !important;
    }
    .card0 .d-flex{
      height:100%;
    }
  </style>

 
</div>
</div>

{% endblock %}
